.Histoire-all1,  .Histoire-all2,  .Histoire-all3{
    clip-path: polygon(0% 0%,0% 100%,100% 0%);
    width: 90%;
    height: 50em; 
    background-color: grey;
    background-size: cover;
    text-align: center;
    color: white;
    align-content: left; 
    block-size: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
  }

  
img
  {
      clip-path: polygon(100% 100%,0% 100%,100% 0%);
      height:50em;
      width: 90%;
      background-size: cover;
      align-content: right;
      block-size: 80%;
      display: flex ;
      flex-direction: row;
      flex-wrap: wrap;
  
  }


h1, h2, h3
  {
    font-size: 48px;
    color: white;
    text-align: center;
  }

