@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700&display=swap%27);
.App {
  width: 800px;
  margin: 30px;
}

.cb-centermode {
  margin-bottom: 20px;
  display: block;
}

.cb-centermode input {
  margin-right: 7px;
}

/* card style start */
.img-card {
  /* border-radius: 4px; */
  background: #f5f5f5;
  color: #666;
  overflow: hidden;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.img-card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  padding: 15px;
  display: block;
  background-color: #181818;
  color: #ddd;
  height: 10rem;
}

.card-title {
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
}

.card-text {
  margin-top: 1rem;
  font-weight: 200;
  font-size: 0.8rem;
  display: block;
}

.btn {
  cursor: pointer;
  display: block;
  margin: 1rem 0 0 8rem;
  width: 80px;
  height: 25px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  /* background: #555; */
  text-decoration: none;
  border: none;
  font-weight: 200;
  font-size: 0.8rem;
  position: absolute;
  bottom: 20px;
}

.btn:hover {
  background-color: #ed1c24;
  color: #ddd;
  border: 1px solid #ddd;
}

/* card style end */
/* carousel slider style start */
.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-slide *:focus {
  outline: none;
}

.slick-next:before {
  content: ">>>" !important;
  font-size: 1.5rem !important;
}

.slick-next:hover:before {
  color: #ed1c24 !important;
}

.slick-prev:before {
  content: "<<<" !important;
  font-size: 1.5rem !important;
  margin: -10px;
}

.slick-prev:hover:before {
  color: #ed1c24 !important;
}

/* carousel slider style end */
.slick-dots li button:before {
  content: "＿" !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem !important;
  opacity: 100% !important;
  color: white !important;
}

.slick-dots li.slick-active button:before {
  color: red !important;
}

.slick-dots li button:hover:before {
  color: red !important;
}

.slick-dots li {
  margin: 0 0.6rem !important;
}

.popup-content {
  top: 30vh !important;
  left: 20vw !important;
  width: 800px !important;
  background-color: #181818 !important;
  color: white;
  border: none !important;
  border-radius: 0 !important;
  height: 20rem;
}

.popup-arrow {
  visibility: hidden;
}

.popup-body {
  display: block;
  background-color: #181818;
  color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  width: 50%;
}

.img-detail {
  width: 50%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title-detail {
  font-size: 0.9rem;
  font-weight: 600;
  position: absolute;
}

.text-detail {
  font-weight: 200;
  font-size: 0.8rem;
  position: relative;
  width: 50%;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ddd;
  background-color: #666;
}
/*# sourceMappingURL=main.css.map */