@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700&display=swap%27);
.slider {
  width: 800px;
  margin: 30px;
}

.img-card {
  background: #f5f5f5;
  color: #666;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 23rem;
}

.img-card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  padding: 10px;
  display: block;
  background-color: #181818;
  color: #ddd;
  height: 13rem;
  position: relative;
}

.card-title {
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
}

.card-text {
  margin-top: 0.3rem;
  font-weight: 200;
  font-size: 0.8rem;
  display: block;
}

.btn {
  cursor: pointer;
  display: block;
  width: 80px;
  height: 25px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  text-decoration: none;
  border: none;
  font-weight: 200;
  font-size: 0.8rem;
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.btn:hover {
  background-color: #ed1c24;
  color: #ddd;
  border: 1px solid #ddd;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-slide *:focus {
  outline: none;
}

.slick-next:before {
  content: ">>>" !important;
  font-size: 1.5rem !important;
}

.slick-next:hover:before {
  color: #ed1c24 !important;
}

.slick-prev:before {
  content: "<<<" !important;
  font-size: 1.5rem !important;
  margin: -10px;
}

.slick-prev:hover:before {
  color: #ed1c24 !important;
}

.slick-dots li button:before {
  content: "＿" !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem !important;
  opacity: 100% !important;
  color: white !important;
}

.slick-dots li.slick-active button:before {
  color: red !important;
}

.slick-dots li button:hover:before {
  color: red !important;
}

.slick-dots li {
  margin: 0 0.6rem !important;
}

.popup-content {
  top: 23.9vh !important;
  left: 0;
  right: 0;
  width: 700px !important;
  background-color: #181818 !important;
  color: white;
  border: none !important;
  border-radius: 0 !important;
  height: 23rem !important;
  padding: 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.popup-arrow {
  visibility: hidden;
}

.wrap-detail {
  width: 50%;
  padding: 1.5rem;
}

.img-detail {
  width: 50%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem 0 1rem 1rem;
}

.title-detail {
  font-size: 0.9rem;
  font-weight: 600;
  padding-top: 2rem;
}

.date-detail {
  font-size: 0.8rem;
  font-weight: 400;
  position: absolute;
  display: block;
  margin-right: 0;
}

.text-detail {
  font-weight: 200;
  font-size: 0.8rem;
  position: relative;
  display: block;
  padding: 2rem 0;
}

@media screen and (max-width: 480px) {
  .body {
    font-size: 2rem;
  }
  .slider {
    width: 300px;
  }
  .popup-content {
    height: 40rem !important;
    width: 100% !important;
    display: block !important;
    top: 20vh !important;
    left: 0 !important;
  }
  .img-detail {
    width: 92%;
  }
  .title-detail {
    padding-top: 0;
    width: 22rem;
  }
  .text-detail {
    width: 22rem;
  }
}

@media screen and (min-width: 481px) {
  .body {
    font-size: 2rem;
  }
  .slider {
    width: 500px;
  }
}

@media screen and (min-width: 800px) {
  .slider {
    width: 700px;
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ddd;
  background-color: #666;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */
